{{- define "main" -}}
  <h1>{{- .Title -}}⚙️</h1>
  <h3><a href='/factorio-blog/feed.xml'>RSS Feed</a></h3><hr>
  {{- .Content -}}
  {{- $counter := 0 -}}
  {{- range .Pages -}}
    <h2 class="smallmarg"><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a></h2>
    {{- if .Page.Params.subtitle -}}<h4 class="smallmarg">{{- .Page.Params.subtitle -}}</h4>{{- end -}}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
    {{- $dateHuman := .Date | time.Format "Jan 2, 2006" -}}
    <time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time>
    <hr>
  {{- end -}}
{{- end -}}
