{{- define "main" -}}
  {{- .Content -}}
  <!-- {{- range site.RegularPages -}} 
    <h2><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a></h2>
    {{- .Summary -}} 
  {{- end -}} -->
  <center>
  <code>Latest Blog Posts</code>
  <br>
  {{- $counter := 0 -}}
  {{- $posts := (where .Site.RegularPages "Section" "in" (slice "posts" "factorio-blog")) -}}
  {{ range $posts.ByDate.Reverse -}}
  {{- $counter = add $counter 1 -}}
  {{ if eq .Section "factorio-blog" }}⚙️{{ else }}📝{{ end }}
  <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a><br>
  {{- if eq $counter 3 -}}
  {{- break -}}
  {{- end -}}
  {{- end -}}
  <br>
  </center>
{{- end -}}
