{{- define "main" -}}
  {{- .Content -}}
  <!-- {{- range site.RegularPages -}} 
    <h2><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a></h2>
    {{- .Summary -}} 
  {{- end -}} -->
  <center>
  {{- $counter := 0 -}}
  <code>Latest Post</code>: 
  {{ range site.RegularPages -}}
  {{- $counter = add $counter 1 -}}
  <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a><br>
  <a href='/posts'>View all posts</a>
  </center>
  
  {{- if eq $counter 1 -}}
  {{- break -}}
  {{- end -}}
  {{- end -}}
  
{{- end -}}
