{{- define "main" -}}
  {{- .Content -}}
  <!-- {{- range site.RegularPages -}} 
    <h2><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a></h2>
    {{- .Summary -}} 
  {{- end -}} -->
  <center>
  <code>Latest Blog Posts</code>
  <br>
  {{- $counter := 0 -}}
  {{ range where .Site.RegularPages "Section" "posts" -}}
  {{- $counter = add $counter 1 -}}
  <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a><br>
  {{- if eq $counter 3 -}}
  {{- break -}}
  {{- end -}}
  {{- end -}}
  <br>
  <a href='/posts'>View all posts</a>
  </center>
{{- end -}}
