{{ define "main" }}
  <h1>{{ .Title }} 📝</h1>
  {{ .Content }}
  {{ range .Pages }}
  <article>
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    🏷️: 
    {{ if .Params.tags }} 
      {{ range .Params.tags }}
      | <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}|
      {{ else }}No Tags 😢
      {{ end }}
    
    <br>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    🗓️: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </article>
    
  {{ end }}
{{ end }}
