{{- define "main" -}}
  <h1>{{- .Title -}}</h1>
  {{- .Content -}}
  
  <!--Counts number of posts-->
  {{- $postcount := 0 -}}
  {{- range (site.GetPage "posts").Pages -}}
  {{- $postcount = add $postcount 1 -}}
  {{- end -}}
  
  <!--Counts total amount of words from posts folder-->
  {{- $totwords := 0 -}}
  {{- range (site.GetPage "posts").Pages -}}
  {{- $totwords = add $totwords .WordCount -}}
  {{- end -}}
  
  <!--Calcs longest post-->
  {{- $scratch := newScratch -}}
  {{- $scratch.Set "longCount" 0 -}}
  {{- range (site.GetPage "posts").Pages -}}
  {{- $scratch.Add "wordcount" .WordCount -}}
  {{- if ge .WordCount ($scratch.Get "longCount") -}}
  {{- $scratch.Set "longestPost" . -}}
  {{- $scratch.Set "longCount" .WordCount -}}
  {{- end -}}
  {{- end -}}
  
  <!--Calcs average post length-->
  {{- $postCount :=  len ((site.GetPage "posts").Pages) -}}
  {{- $wordCount := $scratch.Get "wordcount" -}}
  {{- $avgPostLength := div $wordCount $postCount -}}
  
  <!--Calcs reading stats using vars from the longest post and total words blocks-->
  {{- $RTime := 212 -}}
  {{- $totread := div $totwords $RTime -}}
  {{- $avgread := div $avgPostLength $RTime -}}
  {{- $longtime := div ($scratch.Get "longCount") $RTime -}}
  
  <!--Counts total amount of tags-->
  {{- $tagcount := 0 -}}
  {{- range (site.GetPage "tags").Pages -}}
  {{- $tagcount = add $tagcount 1 -}}
  {{- end -}}
  
  <!--Counts posts without tags-->
  {{- $notag := 0 -}}
  {{- range (site.GetPage "posts").Pages -}}
  {{- if .Params.tags -}}
  {{- else -}}
  {{- $notag = add $notag 1 -}}
  {{- end -}}
  {{- end -}}
  
  <!--Totals posts per month-->
  {{- $Jan :=0 -}}
  {{- $Feb :=0 -}}
  {{- $Mar :=0 -}}
  {{- $Apr :=0 -}}
  {{- $May :=0 -}}
  {{- $Jun :=0 -}}
  {{- $Jul :=0 -}}
  {{- $Aug :=0 -}}
  {{- $Sep :=0 -}}
  {{- $Oct :=0 -}}
  {{- $Nov :=0 -}}
  {{- $Dec :=0 -}}
  {{- range (site.GetPage "posts").Pages -}}
  {{- $dateMonth := .Date | time.Format "Jan" -}}
  {{- if eq $dateMonth "Jan" -}}
  {{- $Jan = add $Jan 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Feb" -}}
  {{- $Feb = add $Feb 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Mar" -}}
  {{- $Mar = add $Mar 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Apr" -}}
  {{- $Apr = add $Apr 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "May" -}}
  {{- $May = add $May 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Jun" -}}
  {{- $Jun = add $Jun 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Jul" -}}
  {{- $Jul = add $Jul 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Aug" -}}
  {{- $Aug = add $Aug 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Sep" -}}
  {{- $Sep = add $Sep 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Oct" -}}
  {{- $Oct = add $Oct 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Nov" -}}
  {{- $Nov = add $Nov 1 -}}
  {{- end -}}
  {{- if eq $dateMonth "Dec" -}}
  {{- $Dec = add $Dec 1 -}}
  {{- end -}}
  {{- end -}}
  
  <!--Totals posts per day of week-->
  {{- $Mon := 0 -}}
  {{- $Tue := 0 -}}
  {{- $Wed := 0 -}}
  {{- $Thu := 0 -}}
  {{- $Fri := 0 -}}
  {{- $Sat := 0 -}}
  {{- $Sun := 0 -}}
  {{- range (site.GetPage "posts").Pages -}}
  {{- $dateDay := .Date | time.Format "Mon" -}}
  {{- if eq $dateDay "Mon" -}}
  {{- $Mon = add $Mon 1 -}}
  {{- end -}}
  {{- if eq $dateDay "Tue" -}}
  {{- $Tue = add $Tue 1 -}}
  {{- end -}}
  {{- if eq $dateDay "Wed" -}}
  {{- $Wed = add $Wed 1 -}}
  {{- end -}}
  {{- if eq $dateDay "Thu" -}}
  {{- $Thu = add $Thu 1 -}}
  {{- end -}}
  {{- if eq $dateDay "Fri" -}}
  {{- $Fri = add $Fri 1 -}}
  {{- end -}}
  {{- if eq $dateDay "Sat" -}}
  {{- $Sat = add $Sat 1 -}}
  {{- end -}}
  {{- if eq $dateDay "Sun" -}}
  {{- $Sun = add $Sun 1 -}}
  {{- end -}}
  {{- end -}}
  
  
  <article>
	<center>
	<h1>Post Stats</a></h1>
	<hr>
	<h2>Number of Posts: <code>{{- $postcount -}}</code></h2>
	<h2>Total Words: <code>{{- $totwords -}}</code></h2>
	<h2>Average Post Length: <code>{{- $avgPostLength -}}</code> Words
	<h2>Logest Post:<br>{{- with $scratch.Get "longestPost" -}}<a href='{{- .Permalink -}}'>{{- .Title -}}</a>{{- end -}}<br>W/ <code>{{- $scratch.Get "longCount" -}}</code> Words
  </article>
  
  <article>
    <center>
      <h1>Reading Time Stats</h1>
      <hr>
      <h2>Total Reading Time: <code>{{- $totread -}}</code></h2>
      <h2>Average Reading Time: <code>{{- $avgread -}}</code></h2>
      <h2>Lognest Post Time: <code>{{- $longtime -}}</code><br>
      {{- with $scratch.Get "longestPost" -}}<a href='{{- .Permalink -}}'>{{- .Title -}}</a>{{- end -}}</h2>
      <h6>Time is in minutes, and assumes a reading speed of {{ $RTime }} WPM</h6>
    </center>
  </article>
  
  <article>
	  <center>
	  <h1>Tag Stats</h1>  
	  <hr>
	  <h2>Total Tags: <code>{{- $tagcount -}}</code></h2>
	  <h2>Posts Without Tags: <code>{{- $notag -}}</code></h2>
	</article>
  
  <article>
    <center>
      <h1>Time Stats</h1>
      <hr>
      <h2>Posts per Day of Week</h2>
      <table>
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>{{ $Sun }}</code></td>
          <td><code>{{ $Mon }}</code></td>
          <td><code>{{ $Tue }}</code></td>
          <td><code>{{ $Wed }}</code></td>
          <td><code>{{ $Thu }}</code></td>
          <td><code>{{ $Fri }}</code></td>
          <td><code>{{ $Sat }}</code></td>
        </tr>
      </tbody>
      </table>
      <hr>
      <h2>Posts per Month</h2>
      <table>
      <thead>
        <tr>
          <th>Jan</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Apr</th>
          <th>May</th>
          <th>Jun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>{{ $Jan }}</code></td>
          <td><code>{{ $Feb }}</code></td>
          <td><code>{{ $Mar }}</code></td>
          <td><code>{{ $Apr }}</code></td>
          <td><code>{{ $May }}</code></td>
          <td><code>{{ $Jun }}</code></td>
        </tr>
      </tbody>
      </table>
      <table>
      <thead>
        <tr>
          <th>Jul</th>
          <th>Aug</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dec</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>{{ $Jul }}</code></td>
          <td><code>{{ $Aug }}</code></td>
          <td><code>{{ $Sep }}</code></td>
          <td><code>{{ $Oct }}</code></td>
          <td><code>{{ $Nov }}</code></td>
          <td><code>{{ $Dec }}</code></td>
        </tr>
      </tbody>
      </table>
    </center>
  </article>
  

  
  <p><a href='https://github.com/nathnp/Nathans-site/blob/main/themes/simple/layouts/_default/stats.html'>Hugo source code</a> for this page</p>
  
  
{{- end -}}