{{- define "main" -}}
  <h1>{{- .Title -}} 📝</h1>
  <p>RSS link for <code>{{- .Title -}}</code> --> <a href="{{- .Permalink -}}feed.xml">RSS</a></p>
  {{- .Content -}}
  {{- $counter := 0 -}}
  {{- range .Pages -}}
    <h2><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a><br>
    {{- if .Page.Params.subtitle -}}<sub><sub>{{- .Page.Params.subtitle -}}</sub></sub>{{- end -}}</h2><hr>
    {{- if .Page.Params.hasUpdate }}⚠️: <a href="{{ .RelPermalink }}#updates">Post has update, click to view</a><br>{{- end -}} 
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
    {{- $dateHuman := .Date | time.Format "Jan 2, 2006" -}}
    🗓️: <time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time>
    🏷️: 
    {{- if .Params.tags -}} 
      {{- range .Params.tags -}}
      | <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}|
      {{ else }}No Tags 😢
      {{ end }}
  {{- end -}}
{{- end -}}
