{{- define "main" -}}
  <h1>{{- .Title -}}</h1>
  {{- .Content -}}
  {{ $count := 0 }}
  {{- range .Pages -}}
  <article>
    <h2><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a></h2>
   <b>{{- if eq .Pages.Len 1 -}}<code>{{- .Pages.Len -}}</code> Post{{- else -}}<code>{{- .Pages.Len -}}</code> Posts{{- end }} | <code>Latest</code>: {{ range .Pages }}{{ $count = add $count 1 }}<a href='{{- .RelPermalink -}}'>{{- .LinkTitle -}}</a>{{ if eq $count 1 }}{{ break }}{{ end }}{{ end }}</b>
   
   <br>
   
   {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
   {{- $dateHuman := .Date | time.Format "Jan 2, 2006" -}}
   <b>Last Use</b>: <time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time>
  </article>
  {{ $count = 0 }}
  {{- end -}}
{{- end -}}
