{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
  {{- $dateHuman := .Date | time.Format "Jan 2, 2006" -}}
  <time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time>
  <hr>
  {{- $PostYear := .Date | time.Format "2006" | int -}}
  {{- $CurrentYear := now.Year | int -}}
  {{- $YearDif := math.Sub $CurrentYear $PostYear -}}
  {{- if ge $YearDif 1 -}}
    <p class="notice">
      This post is over {{ if eq $YearDif 1 }} a year{{- else -}}{{- $YearDif }} years{{- end }} old. The information here may be out of date, and may not reflect my current thoughts or opinions.
    </p>
  {{- end -}}
  {{ .Content }}
{{ end }}
