{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
    <center>
    <div><h3>{{ $label }}:</h3></div>
    <ul>
      {{- range . }}
        <a class='button' href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    </ul>
    </center>
  </div>
{{- end }}
